*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.tittle-profiles-section{
    padding: 20px;
}
.tittle-profiles{
    color: white;
    text-align: center;
}
.profiles{
    text-align: center;
    
    background-color: rgb(59, 59, 59);
    
}
.profileJoao, .profileCarlos, .profileRael{
    
    padding: 15px 50px;
    margin: auto;
    margin: 10px 20px 10px 20px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
.profileJoao:hover, .profileCarlos:hover, .profileRael:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    
    display: inline-block;
    

    animation: wobble; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 4s; /* don't forget to set a duration! */
}
.background-joao{
    background-image: url('/ProjetoTime/assets/img/foto-joao.jpg') ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.background-carlos{
    background-image: url('/ProjetoTime/assets/img/foto-carlos.jfif') ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.background-rael{
    background-image: url('/ProjetoTime/assets/img/foto-rael.jfif') ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.item-1, .item-2, .item-3{
    width: 33.3%;
    float: left;
}
